<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li><a href="/">トップページ</a></li>
    <li><a href="/users">ユーザー一覧</a></li>
    <li><a href="/<%= @user.id%>"><%= @user.name%></a></li>
    <li>欠席申請</li>
  </ol>
</nav>

<div class="main">
  <div class="card absent">
    <div class="card-body">
      <div class="form-group">
        <form action="/<%= @user.id%>/new_absent" method="post">
          <input type="hidden" name="user_id" value=<%= @user.id%>>

          <p>欠席日</p>
          <input class="form-control" type="date" name="when" />

          <p>理由</p>
          <input class="form-control" type="text" name="reason" />

          <p>
            <input class="btn btn-primary" type="submit"value="申請" />
          </p>
        </form>
      </div>
    </div>
  </div>
</div>