<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li><a href="/">トップページ</a></li>
    <li>欠席連絡一覧</li>
  </ol>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col">年-月-日</th>
      <th scope="col">理由</th>
    </tr>
  </thead>
  <tbody>
    <% @absents.reverse_each do |absent| %>
      <tr>
      
        <th>
          <a href="/<%= absent.user.id %>">
            <%= absent.user.name%>
          </a>
        </th>
        <td>
          <%= absent.when%>
        </td>
        <td>
          <%= absent.reason%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
