<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item active" aria-current="page">欠席連絡一覧</li>
  </ol>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col">年-月-日</th>
      <th scope="col">理由</th>
    </tr>
  </thead>
  <tbody>
    <% @absent.reverse_each do |absent| %>
      <tr>
      
        <th>
          <%= absent.name%>
        </th>
        <td>
          <%= absent.when%>
        </td>
        <td>
          <%= absent.reason%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
