<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>title</title>
  </head>
  <body>
    <a href="sign_up">
      <p>新規ユーザー登録</p>
    </a>

    <a href="users">
      <p>ユーザー一覧</p>
    </a>

    <a href="login">
      <p>ログイン</p>
    </a>

    <a href="table">
      <p>出席確認</p>
    </a>

    <a href="chack_absent">
      <p>欠席連絡確認</p>
    </a>

  </body>
</html>
