<a href="/"><p>トップページへ</p></a>

<ul>
  <% @attendance.each do |attendance|%>
    <li>
      <%= attendance.name%>
      <form action="/<%= attendance.id %>/join" method="post">
        <% @user = User.find(params[:id] )%>
        <input type="submit" value="参加">
      </form>
    </li>
  <% end %>
</ul>