<h1>ログインページ</h1>

<a href="/"><p>トップページへ</p></a>

<h2>管理者としてログイン</h2>

<form action="login_admin" method="post">
  <p>ユーザーネーム</p>
  <input type="text" name="name" />

  <p>パスワード</p>
  <input type="text" name="password" />

  <input type="submit" value="ログイン" />

</form>
