<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li><a href="/">トップページ</a></li>
    <li>ログイン</li>
  </ol>
</nav>

<div class="main">
  <div class="card lefts" style="width: 29rem;">
    <div class="card-body">
      <div class="card-text">
        <div class="from-group">
        <form action="login" method="POST">
          <p>名前</p>
          <input class="form-control" type="text" name="name" />

          <p>メール</p>
          <input class="form-control" type="email" name="email" />

          <p>パスワード</p>
          <input class="form-control" type="password" name="input_password" />

          <p>
            <input class="btn btn-primary" type="submit" value="ログイン" />
          </p>

        </form>
      </div>
    </div>
  </div>
</div>
