<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item active" aria-current="page">ログイン</li>
  </ol>
</nav>

<h2>管理者としてログイン</h2>

<form action="login_admin" method="post">
  <p>ユーザーネーム</p>
  <input type="text" name="name" />

  <p>パスワード</p>
  <input type="password" name="password" />

  <input type="submit" value="ログイン" />

</form>
