<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item active" aria-current="page">新規登録</li>
  </ol>
</nav>

<div class="main">
  <div class="card lefts" style="width: 29rem;">
    <div class="card-body">
      <div class="card-title">
        <h2>一般ユーザーとして登録</h2>
      </div>
      <div class="card-text">
        <div class="from-group">
          <form action="/sign_up" method="POST">
            <p>ユーザーネーム</p>
            <input class="form-control" type="text" name="name" />

            <p>所属</p>
            <select class="form-control" name="belong_id">
              <% @belongs.each do |belong| %>
                <option value="<%= belong.id%>"><%= belong.name%></option>
              <% end %>
            </select>

            <p>メール</p>
            <input class="form-control" type="email" name="email" />

            <p>パスワード</p>
            <input class="form-control" type="password" name="password" />

            <input type="hidden" name="day_at" value="<%= @time.day%>" />
            <input class="btn btn-primary" type="submit" value="新規登録" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<%# ここから管理者用（未実装） %>
<%# <div class="main">
  <div class="card rights" style="width: 29rem;">
    <div class="card-body">
      <div class="card-title">
        <h2>管理者として登録</h2>
      </div>
      <div class="card-text">
        <form action="/sign_up_admin" method="POST">
          <p>ユーザーネーム</p>
          <input class="form-control" type="text" name="name" />

          <p>メール</p>
          <input class="form-control" type="email" name="email" />

          <p>パスワード</p>
          <input class="form-control" type="password" name="password" />
          
          <input class="btn btn-primary" type="submit" value="新規登録" />
        </form>
      </div>
    </div>
  </div> %>
</div>