<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li><a href="/">トップページ</a></li>
    <li>ユーザー一覧</li>
  </ol>
</nav>

<div class="main users">
  <ul>
      <% @user.each do |user| %>
        <a href="/<%= user.id %>">
          <li>
            <%= user.name%>
          </li>
        </a>
      <% end %>
  </ul>
</div>
