<nav aria-label="breadcrumb"　>
  <ol class="breadcrumb"　>
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item active" aria-current="page">ユーザー一覧</li>
  </ol>
</nav>

<div class="main">
  <div class="list-group">
      <% @user.each do |user| %>
        <p class="users">
          <a href="/<%= user.id %>" class="list-group-item list-group-item-action">
            <%= user.name%>
          </a>
        </p>
      <% end %>
  </div>
</div>